.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  z-index: 2;
}

.modal__inner {
  margin: auto;
  padding: 20px;
  background: white;
  max-width: 500px;
  border-radius: 10px;
}