
.upload__label {
  display: block;
  padding-bottom: 10px;
}

.upload__img-wrapper {
  position: relative;
  width: 400px;
  height: 400px;
}

.upload__img {
  width: 100%;
}

.upload__section {
  width: 50%;
  float: left;
}
